In [21]:
import pandas as pd
import numpy as np

In [39]:
# Load data from a CSV file
data = pd.read_csv("diamonds_new.csv")

In [40]:
data.describe()

,carat,table,x,y,z,price_new
count,53841.000000,53877.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.798120,57.457719,5.731157,5.734526,3.539635,1966.399861
std,0.474428,2.235742,1.121761,1.142135,0.703869,1994.719869
min,0.200000,43.000000,0.000000,0.000000,0.000000,163.000000
25%,0.400000,56.000000,4.710000,4.720000,2.910000,475.000000
50%,0.700000,57.000000,5.700000,5.710000,3.530000,1200.500000
75%,1.040000,59.000000,6.540000,6.540000,4.040000,2662.125000
max,5.010000,95.000000,10.740000,58.900000,31.800000,9411.500000

# 1. Handle the Missing values

In [41]:
# Count the number of missing values in each column
data.isnull().sum()

carat        99
cut           0
color        56
clarity       0
table        63
x             0
y             0
z             0
price_new     0
dtype: int64

In [42]:
# Row count before removing invalid records
print(data.shape[0])

53940

In [43]:
# Removing rows with invalid values
data = data.dropna()

In [46]:
# Row count after removing invalid records
print(data.shape[0])

53722

# 2. Outlier Detection

In [50]:
# Convert the dataframe to a numpy array
data_array = data.values

In [53]:
# Get the column of interest (e.g., "price_new")
column = data_array[:, 7]

In [58]:
# Calculate the first and third quartiles of the price_new column
Q1 = np.percentile(column, 25)
Q3 = np.percentile(column, 75)

# calculate the interquartile range
IQR = Q3 - Q1

# define the upper and lower boundaries for outliers using Tukey's fences
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [59]:
# Calculate the interquartile range
IQR = Q3 - Q1

In [68]:
# Identify outliers in the column
outliers = np.where((column < lower_bound) | (column > upper_bound))

In [70]:
# Print the indices of the outliers
print("Outliers:", outliers)

Outliers: (array([11117, 11898, 14567, 15879, 16210, 17122, 19269, 21679, 22461,
       23460, 23565, 23988, 24052, 24218, 24249, 24441, 25919, 25920,
       26021, 26115, 26164, 26352, 26365, 26455, 26665, 27051, 27336,
       27350, 27436, 27437, 27438, 27439, 27551, 27600, 48297, 49425,
       49426]),)

# 3. Scaling